<mat-slide-toggle
  class="example-margin"
  [checked]="showRank" (click)="toggleRank()">
  Afficher le classement
</mat-slide-toggle>
<button mat-raised-button color="primary" (click)="openAddPlayerDialog()">Ajouter un joueur</button>

<mat-table [dataSource]="players" class="mat-elevation-z8">
  <ng-container matColumnDef="rank">
    <mat-header-cell *matHeaderCellDef> Rang</mat-header-cell>
    <mat-cell *matCellDef="let player"> {{ player.rank }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="pseudo">
    <mat-header-cell *matHeaderCellDef>Pseudo</mat-header-cell>
    <mat-cell *matCellDef="let player">{{ player.pseudo }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
    <mat-cell *matCellDef="let player">{{ player.score }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let player">
      <button mat-icon-button color="primary" (click)="openUpdateScoreDialog(player)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-raised-button color="warn" (click)="deleteAllPlayers()">Supprimer tous les joueurs</button>

<ng-template #addPlayerDialog>
  <h2 mat-dialog-title>Ajouter un joueur</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Pseudo</mat-label>
      <input matInput [(ngModel)]="newPlayer.pseudo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Score</mat-label>
      <input matInput type="number" [(ngModel)]="newPlayer.score" (keydown.enter)="addPlayer()">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close="Cancel">Annuler</button>
    <button mat-raised-button color="primary" (click)="addPlayer()">Ajouter</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #updateScoreDialog let-player>
  <h2 mat-dialog-title>Mettre à jour le score de {{ player.pseudo }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nouveau score</mat-label>
      <input matInput type="number" [(ngModel)]="updatedScore"
             (keydown.enter)="updatePlayerScore(selectedPlayerId, updatedScore)">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close="Cancel">Annuler</button>
    <button mat-raised-button color="primary" (click)="updatePlayerScore(selectedPlayerId, updatedScore)">Mettre à
      jour
    </button>
  </mat-dialog-actions>
</ng-template>

